<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Is it on Netflix</title>  
  <script>
    function readCsv() {
      console.log("in read csv");
      let oFiles = document.getElementById("uploadInput").files;

      var fr = new FileReader();
      fr.onload = function(e) {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "upload", true);
          xhr.send(e.target.result);
      };
      fr.readAsText(oFiles[0]);
    }
  </script>
</head>
<body>
  <h1>Welcome!</h1>
  <p>
    <h3>Title Name</h3>
    <form>
      <input type="text" name="title" /><br/>
      <input type="number" name="year" /><br/>
      <p><input type="submit" value="Submit"></p>
    </form>
  </p>
</head>
<form onsubmit="readCsv(); return false;">
  Select watchlist file <input id="uploadInput" type="file" name="file"/><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
